.fourstack {
  display : grid;
  height : 475px;
  width : 480px;
  grid-template-rows: 25px 1fr;
  /* grid-row-start: 1;
  grid-row-end :19; */
  grid-template-columns: 480px ;
  grid-row-gap: 5px;

}

.a {

  grid-row-start : 1;
  grid-row-end : 3;
  background : #5FAD56;
  

}

.b {
 
  grid-row-start:4;
  grid-row-end: 9; 
  background: #F2C14E;
 

 
}

.c {

  grid-row :  10/14;
  background :#F78154;
  

}

.d {
  
    grid-row : span 15/19;
    background :#4D9078;
  
  
  }

.e {
    
      background :#B4436C;
      height : 250 px; 
      width : 240 px;  
    
 }

.f {
      
     background :#C6D8D3;
     height : 250 px; 
     width : 240 px;  
      
  }

.g {
        
     background :#331832;
     height : 250 px; 
     width : 240 px; 
        
  }

.h {
      
      background :#F78154;
      height : 250 px; 
      width : 240 px; 
      
  }

.footer {

    background : #FDF0D5;

}

