.fourstack {
  display : grid;
  grid-template-rows: 25px;
  grid-row-start: 1;
  grid-row-end :19;
  grid-template-columns: 480px ;

}

.a {

  grid-row : span 1/3;
  background : #5FAD56;
  height : 75 px; 
  width : 480 px;

}

.b {
 
  grid-row:span 4/9; 
  background: #F2C14E;
  height : 150 px; 
  width : 480 px;

 
}

.c {

  grid-row : span 10/14;
  background :#F78154;
  height : 125 px; 
  width : 480 px;  

}

.d {
  
    grid-row : span 15/19;
    background :#4D9078;
    height : 125 px; 
    width : 480 px;  
  
  }

.e {
    
      background :#B4436C;
      height : 250 px; 
      width : 240 px;  
    
 }

.f {
      
     background :#C6D8D3;
     height : 250 px; 
     width : 240 px;  
      
  }

.g {
        
     background :#331832;
     height : 250 px; 
     width : 240 px; 
        
  }

.h {
      
      background :#F78154;
      height : 250 px; 
      width : 240 px; 
      
  }

.footer {

    background : #FDF0D5;

}

